<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well transparent">
        <h1>Let's Get Some <%= @food.capitalize %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <% @results.businesses.each do |biz| %>
      <div class="col-md-4">
        <div class="well center-it same">
          <h3><%= biz.name %></h3>
          <p>
            <% if biz.image_url != nil %>
              <%= image_tag biz.image_url, alt: "Restaurant Photo" %>
            <% end %>
          </p>  
          <p>
            <%= image_tag biz.rating_img_url, alt: "Yelp Rating" %>
          </p>
          <p>
            <% biz.location.display_address.each do |add_line| %>
              <%= add_line %><br />
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>